/*************************************************************************
** 																		**
** CSS that is unique to product pages and above the fold 				**
** 																		**
**************************************************************************/
body,
select,
textarea,
button {
  color: #2c3e49;
}

.product-key-details-title {
  background-color: #2b7e33;
}

.product-key-details-title h1 {
  color: #fff;
  font-weight: 900;
  margin: 0;
  padding: 1em;
  line-height: 1.1;
}

.product-page .stats-table {
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 1em;
  width: calc(100% - 2em);
}

.product-page .stats-table .stats-table-header {
  height: 40px;
  background: #d8d8d8;
}

.product-page .stats-table .header-row {
  border-bottom: #215485 1px solid;
}

.product-page .stats-table .header-row div {
  font-size: 22px;
}

.product-page .stats-table {
  /*  width: 100%;*/
  text-align: center;
}

.product-page .stats-table .circled-cell {
  cursor: pointer;
  background-image: url("/skin/light_responsive/images/circle.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.product-page .stats-table .circled-cell span {
  display: block;
  margin: 7px 0px;
}

.product-details .image {
  background: #d2fed9;
  text-align: center;
  float: left;
  padding: 0;
  margin: 1em;
  position: relative;
  width: 330px;
  /* vertical-align: top; / no usage found */
}

.product-details .price-line {
  font-size: 20px;
  color: #111111;
  text-align: right;
}

.product-details .image .image-box {
  padding: 0;
  margin: 1em;
}

.product-key-details {
  background-color: #fffddc;
  border: 1px solid #2b7e33;
  border-radius: 5px;
}

.image-product-feature-icons-wrapper img {
  cursor: pointer;
  width: 50px;
  position: absolute;
  left: 0;
  z-index: 1;
}

.image-product-feature-icons-wrapper {
  width: 50px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 5px;
  z-index: 9;
  border-radius: 10px;
}

.image-product-feature-icons-wrapper .image-product-feature-icon-wrapper {
  position: relative;
  height: 53px;
}

.image-product-feature-icons-wrapper .image-product-feature-text {
  position: absolute;
  height: 50px;
  border: 1px solid #111;
  border-radius: 10px;
  padding: 10px 10px 0 60px;
  background-color: white;
  display: none;
  white-space: nowrap;
}

.image-product-feature-icons-wrapper .link-to-feature-desc {
  text-align: center;
  font-family: Arial Black, Arial Bold;
  color: #2b7e33;
  font-size: 50px;
  line-height: 1em;
}

.image-product-feature-icons-wrapper div {
  box-sizing: border-box;
}

.quantity-row select {
  font-size: 20px;
  font-weight: 900;
}

.quantity-row button.button .button-left {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
  white-space: nowrap;
}
button.main-button .button-left {
  color: #ffffff;
}
button.button .button-left {
  display: block;
  height: auto;
  background-image: none;
  padding-right: 5px;
  padding-left: 15px;
  font-family: Helvetica, Arial, sans-serif;
}

button.button .button-right {
  background-image: none;
  padding-right: 10px;
  height: auto;
  display: block;
}

button.button-wl .button-left {
  overflow: hidden;
  padding-right: 0px;
  padding-left: 2px;
  width: 28px !important;
  color: #ffffff;
}

button.button-wl .button-left .fa {
  margin-right: 6px;
  width: 100%;
  position: relative;
  top: 0.0625em;
}

/*button.button .button-left {*/
  /* display: block; */
  /* background: transparent url(../images/but_left.png) no-repeat left top; */
  /* padding: 0 5px 0 15px; */
/*  vertical-align: middle;*/
  
  /* font-family: verdana, arial, helvetica, sans-serif; */
  /* color: #111d4d; */
  /* font-weight: bold; */
  /* font-size: 11px; */
  /* height: 22px; */
  /* line-height: 21px; */
/*}*/
button.button-wl {
  background-color: #2b7e33;
}

button.main-button.add-to-cart-button .button-left .fa {
  margin-right: 6px;
  margin-left: -5px;
}

.short-descr-wrapper {
  border: 0;
}

/*
.quantity {
  float: left;
}
*/

.product-details .quantity-row {
  margin-bottom: 10px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 900;
  float: right;
}

/*
.price {
    text-align: right;
    font-weight: 900;
}
*/

#quantity_units {
  display: none;
}

#single_unit_text {
  display: none;
}

#plural_unit_text {
  display: none;
}

#bulk_buy_units {
  display: none;
}

.product-price-value {
  color: #000;
}

#product_price {
  color: #b51a00;
}

#total_price {
  color: #b51a00;
}

#total-units {
  color: #b51a00;
}

.product_per_unit_price {
  font-weight: normal;
  font-size: 16px;
}

/*
.currency {
    color: #b51a00;
}
*/
/*
.currency_or{
    color: #ff6c00;
}
*/
.stats_arrow {
  position: relative;
}

.stats_arrow_img {
  opacity: 0.6;
  position: absolute;
  left: 40%;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/skin/light_responsive/images/sketchy-arrows.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

#popup_ah {
  background-color: white;
  position: relative;
  z-index: 2;
  border: solid 1px rgba(0, 0, 0, 0.6);
  border-radius: 0.5em;
}
table.product-properties {
  width: 100%;
  margin-bottom: 17px;
}
.dialog .content {
  border: 0 none;
  background: transparent none;
  text-align: left;
  /* padding: 10px 10px 25px;*/

/*  color: inherit;*/
  padding: 0px;
}

.quantity select {
  padding: 6px;
}

.buttons-row {
  margin-top: 0;
  float: left;
  min-height: 42px;
  /*  height: 34px;*/
}

button.button {
  height: auto;
  padding: 0px;
  border: 1px solid #2b7e33;
  border-radius: 5px;
}

.bulk_deal_ribbon,
.bulk_deal_avail_ribbon {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 110px;
  height: 110px;
  z-index: 999;
}
.bulk_deal_ribbon {
  background: url(../)
    no-repeat;
}
.bulk_deal_avail_ribbon {
  background: url(../skin/common_files/bulk-deal-avail-ribbon.png) no-repeat;
}
/* .bulk_deal_avail_ribbon { background: url(../images/bulk-deal-avail-ribbon.png) no-repeat; } */

.product-details {
  position: relative;
  margin-bottom: 50px;
}

.product-details #orderform {
  width: 100%;
}
.product-properties > tbody > tr {
  display: block;
  margin-bottom: 4px;
}
table.product-properties tr td {
  padding: 2px;
  text-align: right;
  font-weight: 900;
  /*  vertical-align: top; / no usage found */
}
.currency {
  /*  white-space: nowrap;*/
}

.quantity-row .quantity {
  float: left;
  position: relative;
  margin: 0 10px 7px 0;
}

#product_avail_input {
  display: none;
}
select {
  border: solid 1px #bbb;
  /*  padding: 2px;*/
  background: #fff;
}
button.main-button {
  background-color: #b51a00;
  border-color: #b51a00;
}
.buttons-row .button {
  float: left;
}
button.button-wl .button-right {
  padding-right: 2px;
}
.quantity-row .buttons-row .add-to-cart-button {
  margin: 0px 7px 0 0;
}

.noborder {
  border: 0px none;
}

.product-properties > tbody,
.product-properties > tbody td {
  display: block;
}
.product-details .details {
  position: relative;
  padding: 20px 25px 20px 20px;
  margin-left: 350px;
  box-shadow: 0 0 0 #fff;
  border: 0px;
  /* background: #fffddc;*/
}

/*

button.button:hover {
  background-color: #ffffff;
  border-color: #34ba3d;
} 
*/
button.main-button:hover {
  background-color: #ffffff;
  border-color: #b51a00;
}

button.main-button:hover .button-left {
  color: #b51a00;
}

/*
button.button:hover .button-left {
  color: #34ba3d;
} 
*/
button.button-wl:hover {
  background-color: #ffffff;
  border-color: #34ba3d;
}
button.button-wl:hover .button-left {
  color: #34ba3d;
}
/**************************************************************************
PUT EVERYTHING THAT IS TRUE FOR ALL SCREEN SIZES BELOW HERE
********************************************************************/

/**************************************************************************
PUT EVERYTHING THAT IS TRUE FOR SCREEN SIZES ABOVE 767 BELOW HERE
********************************************************************/

@media screen and (min-width: 768px) {
  .product-details #orderform {
    display: inline-block;
  }
}

/**************************************************************************
PUT EVERYTHING THAT IS TRUE FOR SCREEN SIZES LESS THAN 768 BELOW HERE
********************************************************************/

@media screen and (max-width: 767px) {
  .product-page .stats-table {
    display: none;
  }
  .product-page .stats-table .circled-cell {
    background-image: none;
  }
}

/*********************/

@media screen and (max-width: 659px) {
  .details {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 959px) {
  .product-details .details {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 967px) {
  .product-details .image {
    padding-top: 1em;
  }
}
